@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #121358;
  --primary: #232F72;
  --secondary: #2F578A;
  --accent: #36ADA3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-serif: var(--font-serif, "Georgia", serif);
  --font-body: var(--font-body, "Georgia", serif);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), serif;
}
